environment  = "disaster-recovery"
aws_region   = "us-west-2"
project_name = "auvora-wallet"
vpc_cidr     = "10.25.0.0/16"

modules = {
  networking   = { enabled = false }
  postgres     = { enabled = false, instance_size = "large", backup_retention_days = 30 }
  redis        = { enabled = false, node_type = "large" }
  storage      = { enabled = false }
  secrets      = { enabled = false, backend = "aws_sm" }
  iam          = { enabled = false }
  monitoring   = { enabled = false, log_retention_days = 90 }
  kubernetes   = { enabled = false, node_count_min = 2, node_count_max = 8 }
  dns          = { enabled = false, subdomain = "dr" }
  loadbalancer = { enabled = false, tls_enabled = true }
}
